// colors
$primary: #2684ff;
$secondary: #eaeaea;

// container
$container_width: 1200px;
$container_padding: 15px;

// input
$max_width: 350px;

// other
$rounded: 5px;
$output_font_size: 24px;
$output_svg_size: 30px;
$output_phone_font_size: 18px;
$output_phone_svg_size: 20px;
