@import '../../../styles/variables';

.materials {
	display: flex;
	gap: 10px;

	input[type='radio'] {
		display: none;
	}

	input[type='radio'] + label {
		margin-left: 20px;
		position: relative;
		user-select: none;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: -20px;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			border: 1.5px solid $primary;
			background-color: #ffffff;
			transform: translateY(-50%);
			transition: all 0.2s ease;
		}
	}

	input[type='radio']:checked + label {
		&::before {
			background-color: $primary;
		}
	}
}
