@import '../../../styles/variables';

.size {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&Item {
		display: block;
		min-width: 100px;

		input[type='number'] {
			width: 60px;
			padding: 5px;
			border-radius: 3px;
			border-color: $secondary;
			font-weight: 700;
			transition: all 0.2s ease;

			&:focus {
				border-color: $primary;
				outline: 1px solid $primary;
			}
		}
	}

	&Name {
		margin-right: 10px;
	}
	&Mes {
		font-weight: 700;
	}
}
